header{
	position: relative;
	right: 6.5%;

}
.igual{
	display: inline-block;
	width:86px ;
	height:50px;
	position: relative;
	left: 95px;
	top: 14px;
}
.Chukwudi{
	display: inline-block;
	font-size: 230%;
	position: relative;
	left: 6.7%;
}
.lupa{
	display: inline-block;
	width:38px ;
	height:38px;
	position: relative;
	left: 10%;

}
.busqueda{
    display: inline-block;
	width: 44%;
	height: 30px; 
	border-radius: 12px;
	position: relative;
	bottom: 9px;
	left: 10%;
}
.usuario{
	width:40px ;
	height:40px;
	position: relative;
	left: 29%;
	bottom: 2.4px;
	top: 2px;
}
.order{
	position: absolute;
	padding-bottom: 45%;

}
.men{
	width:260px ;
	height:260px;
	position: relative;
	left: 4%;
	bottom:  10px;
}
.day{
	position: absolute;
	color:  #FA6E28;
	font-size: 29px;
	top:29%;
	left: 40%;
}
.d{
	position: relative;
	left:  409px;
	bottom: 135px;
}
.h3{
	position: relative;
	color: ;
	font-size: 13.9px;
	left: 40%;
	bottom:145px; 
}
.h4{
	position: relative;
	bottom: 120px;
	left: 83%;
	color:#F97D01   ;
}
.flecha{
	position: relative;
	:#FF9B3D;
	width:15px;
	height:15px;
	bottom:156px;
	left: 94%;
}
.section{
	background: #FFE5D8 ;
	position: relative;
	left: 30px; 
	 border-radius: 22px;
	 padding:1px 1;
	 width: 920px;
	 height: 250px;



}
.Restaurant{
	position: relative;
	left: 3.5%;
	font-size: 35px;
}
.hamburgesa{
	width:44px;
	right:44px;
	position: relative;
	left: 17%;
	bottom:70px; 

}
.relog{
	position: relative;
	width:34px;
	right:34px;
	position: relative;
	left: 11%;
	top:7px; 

}
.h{
	position: relative;
	font-size: 19px;
	left: 34%;
	bottom: 48px; 
	color: white;
}
.section1{
	
}
.Now{
	width: 200px;
	height:50px;
	border-radius:55px;
	background:  #F96E01;
	position: relative;
	bottom:   130px;
	left: 55.5%
}
.caja{
	position: absolute;
	background: #E2EE29  ;
	border-radius: 50px;
	width: 74px;
	height: 120px;
	left: 3.4%;
	padding-bottom: 50px;
}
.platon{
	position: absolute;
	width: 60px;
	height:60px;
	background: white;
	border-radius: 90px;
	left: 8px;
	top: 7px;
}
.all{
	position: absolute;
	top: 32%;
	left: 26%;
}
.caja1{
    position: absolute;
    background:#EEF0D0   ;
    width: 74px;
	height: 120px;
	left: 11%;
	padding-bottom: 50px;
	border-radius: 90px;
}
.pizza{
	position: absolute;
	width: 60px;
	height:60px;
	border-radius: 90px;
	left: 8px;
	top: 7px;

}
.pizza1{
	position: absolute;
    top: 32%;
	left: 20%
}
.caja2{
    position: absolute;
    background:#EEF0D0  ;
    width: 74px;
	height: 120px;
	left: 18%;
	padding-bottom: 50px;
	border-radius: 90px;
}
.asion{
	position: absolute;
	width: 60px;
	height:60px;
	border-radius: 90px;
	left: 8px;
	top: 7px;
}
.asion1{
	position: absolute;
    top: 32%;
	left: 18%
}

.caja3{
    position: absolute;
    background:#EEF0D0  ;
    width: 74px;
	height: 120px;
	left: 25%;
	padding-bottom: 50px;
	border-radius: 90px;
}
.hamburgesa1{
	position: absolute;
	width: 60px;
	height:60px;
	border-radius: 90px;
	left: 8px;
	top: 7px;
}
.burger1{
	position: absolute;
    top: 32%;
	left: 17%;
}		

.caja4{
    position: absolute;
    background:#EEF0D0  ;
    width: 74px;
	height: 120px;
	left: 130%;
	padding-bottom: 50px;
	border-radius: 90px;
}
.carne{
	position: absolute;
	width: 60px;
	height:60px;
	border-radius: 90px;
	left: 8px;
	top: 7px;
}
.carne1{
	position: absolute;
	font-size: 110%;
    top: 32%;
	left: 1px;
}
.caja5{
    position: absolute;
    background:#EEF0D0  ;
    width: 74px;
	height: 120px;
	left: 190px;
	padding-bottom: 50px;
	border-radius: 90px;
}
.postre{
	position: absolute;
	width: 60px;
	height:60px;
	border-radius: 90px;
	left: 8px;
	top: 7px;
}
.postre1{
	position: absolute;
	font-size: 110%;
    top: 32%;
	left: 1px;
}
.caja6{
    position: absolute;
    background:#EEF0D0  ;
    width: 74px;
	height: 120px;
	left: 280px;
	padding-bottom: 50px;
	border-radius: 90px;
}
.piña{
	position: absolute;
	width: 60px;
	height:60px;
	border-radius: 90px;
	left: 8px;
	top: 7px;
}
.piña1{
	position: absolute;
	font-size: 110%;
    top: 32%;
	left: 20px;
}
.caja7{
    position: absolute;
    background:#EEF0D0  ;
    width: 74px;
	height: 120px;
	left: 370px;
	padding-bottom: 50px;
	border-radius: 90px;
}
.sushi{
	position: absolute;
	width: 60px;
	height:60px;
	border-radius: 90px;
	left: 8px;
	top: 7px;
}
.sushi1{
	position: absolute;
	font-size: 110%;
    top: 32%;
	left: 16px;
}
.caja8{
    position: absolute;
    background:white;
    width: 74px;
	height: 120px;
	left: 567px;
	padding-bottom: 50px;
	border-radius: 90px;
}
.mayor{
	position: absolute;
	width: 30px;
	height:30px;
	border-radius: 90px;
	left: 8px;
	top: 7px;
}




.pan{
	position: relative;
	width: 250px;
	height: 180px;
	top: 187px;
	right: 290px;
	border-radius: 20px;
}
/*.pan1{
	position: relative;
	background: blue;
	width:7502343px; 
	height:3940239042394100%;
	right: 1px;
	top: 1px
}*/

.tacos{
	position: relative;
	width: 250px;
	height: 180px;
	top: 155%;
	right: 290px;
	border-radius: 20px;
}
.tacos{
	position: absolute;
	left: 4px;
	top: 204px;

}

.salmon{
	position: relative;
	width: 250px;
	height: 180px;
	top: 155%;
	right: 290px;
	border-radius: 20px;
}

.salmon1{
	position: relative;
	bottom: 0px;
	left: 795%;
} 

.order{
	position: absolute;
	padding-bottom: 45%;

}


